
/* Variable */
:root{
    --color-primario: #FCB03B;
    --color-secundario: #E92F3D;
    --color-background: #EFF6F5;
    --color-texto: #A1A5A6;
    --font-default: "Poppins", sans-serif;
}

/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-default);
    
}

body{
    background-color: var(--color-background);
    
}

.titulos{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    
}

.subtitulos{
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    color: var(--color-primario);
}

.btn{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    background-color: var(--color-primario);
    font-weight: 700;
    padding: 10px 30px ;
    border: 2px solid var(--color-primario);
    outline: none;
    border-radius: 5%;
    cursor: pointer;
    position: relative;
    top: 20px;
    transition: all 0.3s;
}

.btn:hover{
    padding: 10px 45px ;
}


/* Menu Principal */

.menu-principal{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding: 0 30px;
    margin-top: 10px;
    background: var(--color-background);
    z-index: 1;
}

.logo img{
    width: 130px;
    cursor: pointer;
}

.menu-bar{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.menu-bar .enlaces ul li{
    display: inline-block;
    padding: 0 10px;
}

.menu-bar .enlaces ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-texto);
    font-size: 14px;
    width: 600;
    background: linear-gradient(currentColor, currentColor);
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: all 0.6s;
}

.menu-bar .enlaces ul li a:hover{
    color: var(--color-secundario);
    background-size: 100% 2px;
}

 .sociales a{
    font-size: 20px;
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--color-texto);
    transition: all 0.5s;
    
}

.sociales a:hover{
    color: var(--color-secundario);
}

.menu-principal i{
    cursor: pointer;
    font-size: 30px;
    color: var(--color-texto);
    float: right;
    transition: all 0.5s;
    display: none;
}

.menu-principal i:hover{
    color: var(--color-secundario);
}

@media screen and (max-width: 650px){
    .menu-principal{
        position: fixed;
        top: 0;
        margin-top: 0;
    }

    .menu-principal i{
        display: block;
    }

    .menu-bar{
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 1000;
        background-color: #333;
        transition: all 1s;
        transform: translateX(100%);
    }

    .menu-bar.active{
        transform: translateX(0%);
    }
    
    .menu-bar i{
        position: absolute;
        right: 50px;
        top: 50px;
    }
    
    .menu-bar .enlaces ul li{
        display: block;
        padding: 20px 10px;
        text-align: center;
    }
    
    .menu-bar .enlaces ul li a, .menu-bar .sociales a{
        font-size: 20px;
    }
}

