<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/estilos.css" />
    <link rel="stylesheet" href="/lib/fontawesome/css/all.min.css" />
    <link rel="shortcut icon" href="/img/logo.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <title>World Pizza</title>
  </head>
  <body>
    <!-- Menu principal -->
    <div class="menu-principal">
      <div class="logo" id="logo">
        <img src="/img/logo.png" alt="Logo" />
      </div>

      <div class="menu-bar" id="menuBar">
        <i class="fas fa-angle-right" id="btnMenuClose"></i>

        <nav class="enlaces" id="enlaces">
          <ul>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Equipo</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </nav>

        <div class="sociales" id="Sociales">
          <a href="#"><span class="fab fa-facebook"></span></a>
          <a href="#"><span class="fab fa-instagram"></span></a>
          <a href="#"><span class="fab fa-youtube"></span></a>
          <a href="#"><span class="fab fa-x-twitter"></span></a>
        </div>
      </div>

      <i class="fas fa-bars" id="btnMenuOpen"></i>
    </div>

    <!-- Slider de productos -->
    <section id="menu-productos">
      <div class="contenedor-principal">
        <button id="btn-izquierdo">
          <span class="fas fa-angle-left"></span>
        </button>
        <div class="slider">
          <div class="container-productos">
            <div class="descripcion-productos">
              <h2>Producto <b>Premium</b></h2>
              <h1>Pepperoni</h1>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis,
                molestias quaerat non pariatur sunt enim. Nostrum adipisci optio
                aliquam sint quo eius possimus labore delectus ullam,
                perferendis facere exercitationem consectetur?
              </p>
              <button class="btn">
                ¡Quiero mi Pizza ahora!<span class="fas fa-angle-right"></span>
              </button>
            </div>

            <div class="imagen-producto">
              <img src="/img/menu/peperoni.png" alt="" />
            </div>
          </div>

          <div class="container-productos">
            <div class="descripcion-productos">
              <h2>Producto <b>Premium</b></h2>
              <h1>Especial</h1>
              <h2>(Como vos)</h2>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis,
                molestias quaerat non pariatur sunt enim. Nostrum adipisci optio
                aliquam sint quo eius possimus labore delectus ullam,
                perferendis facere exercitationem consectetur?
              </p>
              <button class="btn">
                ¡Quiero mi Pizza ahora!<span class="fas fa-angle-right"></span>
              </button>
            </div>

            <div class="imagen-producto">
              <img src="/img/menu/especial.png" alt="" />
            </div>
          </div>

          <div class="container-productos">
            <div class="descripcion-productos">
              <h2>Products <b>Básico</b></h2>
              <h1>Margarita</h1>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis,
                molestias quaerat non pariatur sunt enim. Nostrum adipisci optio
                aliquam sint quo eius possimus labore delectus ullam,
                perferendis facere exercitationem consectetur?
              </p>
              <button class="btn">
                ¡Quiero mi Pizza ahora!<span class="fas fa-angle-right"></span>
              </button>
            </div>

            <div class="imagen-producto">
              <img src="/img/menu/margarita.png" alt="" />
            </div>
          </div>

          <div class="container-productos">
            <div class="descripcion-productos">
              <h2>Producto <b>Básico</b></h2>
              <h1>Americana</h1>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis,
                molestias quaerat non pariatur sunt enim. Nostrum adipisci optio
                aliquam sint quo eius possimus labore delectus ullam,
                perferendis facere exercitationem consectetur?
              </p>
              <button class="btn">
                ¡Quiero mi Pizza ahora!<span class="fas fa-angle-right"></span>
              </button>
            </div>

            <div class="imagen-producto">
              <img src="/img/menu/americana.png" alt="" />
            </div>
          </div>

          <div class="container-productos">
            <div class="descripcion-productos">
              <h2>Producto <b>Básico</b></h2>
              <h1>Suprema</h1>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis,
                molestias quaerat non pariatur sunt enim. Nostrum adipisci optio
                aliquam sint quo eius possimus labore delectus ullam,
                perferendis facere exercitationem consectetur?
              </p>
              <button class="btn">
                ¡Quiero mi Pizza ahora!<span class="fas fa-angle-right"></span>
              </button>
            </div>

            <div class="imagen-producto">
              <img src="/img/menu/suprema.png" alt="" />
            </div>
          </div>
        </div>
        <button id="btn-derecho">
          <span class="fas fa-angle-right"></span>
        </button>
      </div>
    </section>

    <!-- Seccion servicios -->
    <section id="servicios">
      <div class="servicios-titulos">
        <h2 class="subtitulos">La mejor pizza del mundo</h2>
        <h1 class="titulos">Bienvenidos a World Pizza</h1>
      </div>

      <div class="servicios-container">
        <div class="imagen-central">
          <img src="/img/mitad-mitad.png" alt="" />
        </div>

        <div class="items calidad">
          <p><span class="fas fa-pizza-slice"></span></p>
          <p class="titulo-item">Calidad</p>
          <p class="texto-item">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet aut
            quasi qui quam omnis quia veniam dolor unde iusto optio, suscipit
            soluta facilis. Officia ducimus libero qui reiciendis autem harum.
          </p>
        </div>

        <div class="items ingredientes">
          <p><span class="fas fa-cheese"></span></p>
          <p class="titulo-item">Ingredientes</p>
          <p class="texto-item">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet aut
            quasi qui quam omnis quia veniam dolor unde iusto optio, suscipit
            soluta facilis. Officia ducimus libero qui reiciendis autem harum.
          </p>
        </div>

        <div class="items rapidez">
          <p><span class="fas fa-clock"></span></p>
          <p class="titulo-item">Rapidez</p>
          <p class="texto-item">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet aut
            quasi qui quam omnis quia veniam dolor unde iusto optio, suscipit
            soluta facilis. Officia ducimus libero qui reiciendis autem harum.
          </p>
        </div>

        <div class="items delivery">
          <p><span class="fas fa-shipping-fast"></span></p>
          <p class="titulo-item">Delivery</p>
          <p class="texto-item">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet aut
            quasi qui quam omnis quia veniam dolor unde iusto optio, suscipit
            soluta facilis. Officia ducimus libero qui reiciendis autem harum.
          </p>
        </div>
      </div>
    </section>

    <!-- Equipo de trabajo -->
    <section id="equipo">
      <div class="persona">
        <img src="/img/perfil1.png" alt="" class="persona-imagen"/>
        <div class="persona-info">
          <h2>Jesus Alonso</h2>
          <p>Chef Pizzero</p>
          <div class="social-media">
            <a href="#"><span class="fab fa-facebook"></span></a>
            <a href="#"><span class="fab fa-instagram"></span></a>
            <a href="#"><span class="fab fa-linkedin"></span></a>
          </div>
        </div>
      </div>

      <div class="persona">
        <img src="/img/perfil2.png" alt="" class="persona-imagen"/>
        <div class="persona-info">
          <h2>Eliza Smith</h2>
          <p>Chef</p>
          <div class="social-media">
            <a href="#"><span class="fab fa-facebook"></span></a>
            <a href="#"><span class="fab fa-instagram"></span></a>
            <a href="#"><span class="fab fa-linkedin"></span></a>
          </div>
        </div>
      </div>

      <div class="persona">
        <img src="/img/perfil3.png" alt="" class="persona-imagen"/>
        <div class="persona-info">
          <h2>Tomas Partey</h2>
          <p>Asistente Chef</p>
          <div class="social-media">
            <a href="#"><span class="fab fa-facebook"></span></a>
            <a href="#"><span class="fab fa-instagram"></span></a>
            <a href="#"><span class="fab fa-linkedin"></span></a>
          </div>
        </div>
      </div>

      <div class="persona">
        <img src="/img/perfil4.png" alt="" class="persona-imagen" />
        <div class="persona-info">
          <h2>Manuela Gimenez</h2>
          <p>Asistente</p>
          <div class="social-media">
            <a href="#"><span class="fab fa-facebook"></span></a>
            <a href="#"><span class="fab fa-instagram"></span></a>
            <a href="#"><span class="fab fa-linkedin"></span></a>
          </div>
        </div>
      </div>
    </section>

    <script src="/js/app.js"></script>
  </body>
</html>
